package ${package.ServiceImpl};

import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import ${superServiceImplClassPackage};
import org.springframework.stereotype.Service;
import ${cfg.dueape}.utils.common.PageBean;
import ${cfg.dueape}.utils.http.ResponseResultBuilder;
import com.baomidou.mybatisplus.plugins.Page;
import ${cfg.dueape}.form.${entity}InfoBean;
/**
 * <p>
 * $!{table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service

public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}> implements ${table.serviceName} {
    @Override
    public String find${entity}s(${entity}InfoBean infoBean) {
        Page<${entity}> page = infoBean.getPage();
        if(page == null) {
        page = infoBean.createPage();
        }
        page.setRecords(baseMapper.selectPage(page,infoBean.toWrapper()));
        return ResponseResultBuilder.getInstance()
        .genSuccess2Json(new PageBean<>(page));
    }
}

