<head id="head">
    <title th:text="${title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS Libs -->
    <link th:href="@{/admin1/lib/css/bootstrap.min.css}" rel="stylesheet" type="text/css"
          href="../admin/lib/css/bootstrap.min.css">
    <link th:href="@{/admin1/lib/css/font-awesome.min.css}" rel="stylesheet" type="text/css"
          href="../lib/css/font-awesome.min.css">
    <link th:href="@{/admin1/lib/css/animate.min.css}" rel="stylesheet" type="text/css"
          href="../lib/css/animate.min.css">
    <link th:href="@{/admin1/lib/css/bootstrap-switch.min.css}" rel="stylesheet" type="text/css"
          href="../lib/css/bootstrap-switch.min.css">
    <link th:href="@{/admin1/lib/css/checkbox3.min.css}" rel="stylesheet" type="text/css"
          href="../lib/css/checkbox3.min.css">
    <link th:href="@{/admin1/lib/css/jquery.dataTables.min.css}" rel="stylesheet" type="text/css"
          href="../lib/css/jquery.dataTables.min.css">
    <link th:href="@{/admin1/lib/css/dataTables.bootstrap.css}" rel="stylesheet" type="text/css"
          href="../lib/css/dataTables.bootstrap.css">
    <link th:href="@{/admin1/lib/css/select2.min.css}" rel="stylesheet" type="text/css"
          href="../lib/css/select2.min.css">
    <!-- CSS App -->
    <link th:href="@{/admin1/css/style.css}" rel="stylesheet" type="text/css" href="../css/style.css">
    <link th:href="@{/admin1/css/themes/flat-blue.css}" rel="stylesheet" type="text/css"
          href="../css/themes/flat-blue.css">
    <link href="http://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet"/>
</head>


<nav id="topbar" class="navbar navbar-default navbar-fixed-top navbar-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-expand-toggle">
                <i class="fa fa-bars icon"></i>
            </button>
            <ol class="breadcrumb navbar-breadcrumb">
                <li th:text="${navtext}">Table</li>
                <li class="active" th:text="${activetext}"></li>
            </ol>
            <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                <i class="fa fa-th icon"></i>
            </button>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                <i class="fa fa-times icon"></i>
            </button>
            <li class="dropdown profile">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">[[${session.admin.username}]]<span class="caret"></span></a>
                <ul class="dropdown-menu animated fadeInDown">
                    <li>
                        <div class="profile-info">
                            <div class="btn-group margin-bottom-2x" role="group">
                                <a type="button" class="btn btn-default" th:href="@{/admin/logout}"><i
                                        class="fa fa-sign-out"></i> logout</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<!-- 管理员首页左侧导航栏 -->
<nav id="leftbar" class="navbar navbar-default" role="navigation">
    <div class="side-menu-container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <div class="icon fa fa-paper-plane"></div>
                <div class="title">Menus</div>
            </a>
            <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                <i class="fa fa-times icon"></i>
            </button>
        </div>
        <ul class="nav navbar-nav">
            <li class="" th:class="${activeUri=='main'?'active':''}">
                <a th:href="@{/admin/index}">
                    <span class="icon fa fa-tachometer"></span><span class="title">Home</span>
                </a>
            </li>
            <li class="panel panel-default dropdown"
                th:class="${activeUri=='cars'?'active panel panel-default dropdown':'panel panel-default dropdown'}">
                <a data-toggle="collapse" href="#dropdown-element">
                    <span class="icon fa fa-desktop"></span><span class="title">Car Manage</span>
                </a>
                <!-- Dropdown level 1 -->
                <div id="dropdown-element" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li><a th:href="@{/admin/car/index}">Car List</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="panel panel-default dropdown"
                th:class="${activeUri=='features'?'active panel panel-default dropdown':'panel panel-default dropdown'}">
                <a data-toggle="collapse" href="#dropdown-feature">
                    <span class="icon fa fa-desktop"></span><span class="title">features Manage</span>
                </a>
                <!-- Dropdown level 1 -->
                <div id="dropdown-feature" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li><a th:href="@{/admin/features/index}">features List</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li class="panel panel-default dropdown"
                th:class="${activeUri=='categorys'?'active panel panel-default dropdown':'panel panel-default dropdown'}">
                <a data-toggle="collapse" href="#dropdown-table">
                    <span class="icon fa fa-table"></span><span class="title">User Manage</span>
                </a>
                <!-- Dropdown level 1 -->
                <div id="dropdown-table" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li><a th:href="@{/}">User list</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <!-- Dropdown-->
            <li class="panel panel-default dropdown"
                th:class="${activeUri=='users'?'active panel panel-default dropdown':'panel panel-default dropdown'}">
                <a data-toggle="collapse" href="#component-example">
                    <span class="icon fa fa-cubes"></span><span class="title">Order manage</span>
                </a>
                <!-- Dropdown level 1 -->
                <div id="component-example" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li><a th:href="@{/}">order List</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>


<div id="pageBar" class="col-xs-12 col-md-12 col-sm-12">
    <nav class="pull-right" aria-label="Page navigation">
        <ul class="pagination">
            <li th:if="${(res.data.pageNum) != 1} ">
                <a th:href="@{${url}(pageNum=${res.data.pageNum-1},keyword=${keyword})}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li th:class="${i == res.data.pageNum?'active':''}"
                th:if="${(i) ge 1 and (i) le res.data.pages}"
                th:each="i : ${#numbers.sequence(res.data.pageNum-4,res.data.pageNum+5)}">
                <a th:if="${i == res.data.pageNum}" href="#">[[${i}]]</a>
                <a th:if="${i != res.data.pageNum}"
                   th:href="@{${url}(pageNum=${i},keyword=${keyword})}">[[${i}]]</a>
            </li>
            <li th:if="${(res.data.pageNum) lt res.data.pages} ">
                <a th:href="@{${url}(pageNum=${(res.data.pageNum+1)},keyword=${keyword})}"
                   href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div id="userPageBar" class="col-xs-12 col-md-12 col-sm-12" th:if="${result.data.totalPages}>1">
    <div class="pull-left" style="padding-top: 5px;">
        <label for="size">显示的数量</label>
        <select id="size" class="form-control">
            <option th:selected="${result.data.size == 10}" value="10">10</option>
            <option th:selected="${result.data.size == 20}" value="20">20</option>
            <option th:selected="${result.data.size == 30}" value="30">30</option>
            <option th:selected="${result.data.size == 40}" value="40">40</option>
            <option th:selected="${result.data.size == 50}" value="50">50</option>
        </select>

    </div>
    <nav class="pull-right" aria-label="Page navigation">
        <ul class="pagination">
            <li th:if="${(result.data.number+1) != 1} ">
                <a th:href="@{${url}(type=${type},page=${result.data.number},keyword=${keyword},size=${result.data.size})}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li th:class="${i == result.data.number?'active':''}"
                th:if="${(i+1) ge 1 and (i+1) le result.data.totalPages}"
                th:each="i : ${#numbers.sequence(result.data.number-4,result.data.number+5)}">
                <a th:if="${i == result.data.number}" href="#">[[${i+1}]]</a>
                <a th:if="${i != result.data.number}"
                   th:href="@{${url}(type=${type},page=${i+1},keyword=${keyword},size=${result.data.size})}">[[${i+1}]]</a>
            </li>
            <li th:if="${(result.data.number+1)!= result.data.totalPages} ">
                <a th:href="@{${url}(type=${type},page=${(result.data.number+2)},keyword=${keyword},size=${result.data.size})}"
                   href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<footer id="footer" class="app-footer">
    <div class="wrapper">
        <span class="pull-right"><a href="#"><i class="fa fa-long-arrow-up"></i></a></span> © Copyright &copy;
        2019.Hopin share car All rights reserved
    </div>
    <!-- Javascript Libs -->
    <script th:src="@{/admin1/lib/js/jquery.min.js}" type="text/javascript" src="../lib/js/jquery.min.js"></script>
    <script th:src="@{/admin1/lib/js/bootstrap.min.js}" type="text/javascript"
            src="../lib/js/bootstrap.min.js"></script>
    <script th:src="@{/admin1/lib/js/Chart.min.js}" type="text/javascript" src="../lib/js/Chart.min.js"></script>
    <script th:src="@{/admin1/lib/js/bootstrap-switch.min.js}" type="text/javascript"
            src="../lib/js/bootstrap-switch.min.js"></script>
    <script th:src="@{/admin1/lib/js/jquery.matchHeight-min.js}" type="text/javascript"
            src="../lib/js/jquery.matchHeight-min.js"></script>
    <script th:src="@{/admin1/lib/js/jquery.dataTables.min.js}" type="text/javascript"
            src="../lib/js/jquery.dataTables.min.js"></script>
    <script th:src="@{/admin1/lib/js/dataTables.bootstrap.min.js}" type="text/javascript"
            src="../lib/js/dataTables.bootstrap.min.js"></script>
    <script th:src="@{/admin1/lib/js/select2.full.min.js}" type="text/javascript"
            src="../lib/js/select2.full.min.js"></script>
    <script th:src="@{/admin1/lib/js/ace/ace.js}" type="text/javascript" src="../lib/js/ace/ace.js"></script>
    <script th:src="@{/admin1/lib/js/ace/mode-html.js}" type="text/javascript"
            src="../lib/js/ace/mode-html.js"></script>
    <script th:src="@{/admin1/lib/js/ace/theme-github.js}" type="text/javascript"
            src="../lib/js/ace/theme-github.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
    <script th:src="@{/admin1/js/app.js}" type="text/javascript" src="../js/app.js"></script>
    <script th:src="@{/js/layer/layer.js}"></script>

</footer>