<!DOCTYPE html>
<html>
<div th:replace="common/common::#head(title='Login')"></div>

<body>
<div th:replace="common/common::#header"></div>
<!-- about -->
<div class="about">
    <div class="about-heading">
        <div class="container">
            <h2 class="wow fadeInDown animated" data-wow-delay=".5s">About us</h2>
            <p class="wow fadeInUp animated" data-wow-delay=".5s">  Come and 'Hopin' with us, we are a rental company that is located throughout the city. Our company
                is there to provide excellent service where consumers from all walks of life will be able to use the
                platform with ease. We are here to provide our customers great support through our platforms and
                bring them from point A to B without any hassle. Hopin is all about our customers'
                needs  and  provide them the convenience that they deserve.</p>
        </div>
    </div>
    <div class="about-top">
        <div class="container">
            <div class="about-bottom">
                <img class="wow fadeInUp animated" data-wow-delay=".5s" src="images/ab.jpg" alt=""/>
                <p class="wow fadeInUp animated" data-wow-delay=".5s">
                      We will give direct and need
                    information without any hidden contracts attached to it. You will know what you are paying, we are
                    here to give the right price for everyone and be the one that will always be there when you need
                    one. We provide rental packages that are all sorted and given out accordingly so you won't have any
                    issues when purchasing. So 'Hopin' with us.
                    Cars: Hopin provides a selection of vehicles, from small to large, to fuel driven vehicles to
                    environmentally friendly. 
                    Why Select with us?
                    When it comes to renting a car, the first thing that comes to our minds is the price. But hiring
                    cheap vehicles isn't always the best options,  that is why we provide multiple options. Options that
                    fit every need of any consumers out there. There are many reasons why  we has' Hopin' may offer
                    affordable or expensive rentals. Because we know what to look for and to make sure you save and have
                    the best vehicle that you pay for.
                    Here are the reasons why we are one of the best rental companies out there:
                    - We don't have any hidden fees or extra conditions that are required. All the essentials will be
                    simple and straight forward. We won't make consumers refuel before handing back to our area.
                    - Customers will be have the option of choosing if they want to pay hourly or by distance, to each
                    of their own preference. Customers are also able to buy unlimited distance or time packs which may
                    be beneficial.
                    - Hopin provides many options of vehicles for customers to ride in. We provide anything to EV, 4WD,
                    luxury and any sort of vehicles you choose to ride.


                </p></div>
        </div>
    </div>

</div>
<!-- //about -->


<div th:replace="common/common::#footer"></div>

</body>
</html>