<!DOCTYPE html>
<html>
<div th:replace="common/common::#head(title='Login')"></div>

<body>
<div th:replace="common/common::#header"></div>
<!-- about -->
<div class="about">
    <div class="about-heading">
        <div class="container">
            <h2 class="wow fadeInDown animated" data-wow-delay=".5s">Profile</h2>

            <div class="row" data-wow-delay=".5s">
                <form id="signupForm" class="form-horizontal" th:action="@{/rent/customer/save}" method="post">
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">username</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly id="username" name="username" th:value="${customer.username}"
                                   >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">new password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" th:value="${customer.password}" name="password" id="password"
                                   placeholder="Password">
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="firstName" class="col-sm-2 control-label">first name</label>
                        <div class="col-sm-10">
                            <input required th:value="${customer.firstName}" name="firstName" id="firstName" type="text"
                                   class="form-control"
                                   placeholder="firstName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lastName" class="col-sm-2 control-label">last name</label>
                        <div class="col-sm-10">
                            <input required th:value="${customer.lastName}" name="lastName" id="lastName"
                                   type="text"
                                   class="form-control"
                                   placeholder="lastName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="age" class="col-sm-2 control-label">Age</label>
                        <div class="col-sm-10">
                            <input required th:value="${customer.age}" name="age" id="age" type="text"
                                   class="form-control"
                                   placeholder="Rent Cost">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">email</label>
                        <div class="col-sm-10">
                            <input required th:value="${customer.email}" name="email" id="email" type="text"
                                   class="form-control"
                                   placeholder="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-sm-2 control-label">phone</label>
                        <div class="col-sm-10">
                            <input required th:value="${customer.phone}" name="phone" id="phone" type="text"
                                   class="form-control"
                                   placeholder="phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-sm-2 control-label">address</label>
                        <div class="col-sm-10">
                            <input required th:value="${customer.address}" name="address" id="address" type="text"
                                   class="form-control"
                                   placeholder="address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="gender" class="col-sm-2 control-label">gender</label>
                        <div class="col-sm-10">
                            <select id="gender" name="gender" class="form-control">
                                <option th:selected="${customer.gender == 1}" value="1">male</option>
                                <option th:selected="${customer.gender == 2}" value="2">female</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-default">save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<!-- //about -->


<div th:replace="common/common::#footer"></div>

</body>
<script>
    $(function () {
        $('#signupForm')
            .bootstrapValidator({
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    password: {
                        message: 'The password is not valid',
                        validators: {
                            notEmpty: {
                                message: 'Password can not be empty'
                            },
                            stringLength: {
                                min: 6,
                                max: 30,
                                message: 'Password must between 6 to 30'
                            },
                            identical: {
                                field: 'confirm_password',
                                message: 'The two password is inconsistent.'
                            },
                            regexp: {
                                regexp: /^[a-zA-Z0-9_\.]+$/,
                                message: 'The password can only consist of alphabetical, number, dot and underscore'
                            }
                        }
                    },
                    confirm_password: {
                        message: 'The confirm password is not valid',
                        validators: {
                            notEmpty: {
                                message: 'Confirm can not be empty'
                            },
                            identical: {//相同
                                field: 'password',
                                message: 'The two password is inconsistent.'
                            }
                        }
                    },
                    age: {
                        message: 'The age is not valid',
                        validators: {
                            notEmpty: {
                                message: 'age can not be empty'
                            },
                            regexp: {
                                regexp: /^[0-9]{1,2}$/,
                                message: 'age should be number'
                            },
                        }
                    },
                    email: {
                        message: 'The email is not valid',
                        validators: {
                            notEmpty: {
                                message: 'email can not be empty'
                            },
                            regexp: {
                                regexp: /^[A-Za-z\d]+([-_.][A-Za-z\d]+)*@([A-Za-z\d]+[-.])+[A-Za-z\d]{2,4}$/,
                                message: 'email format error'
                            },
                        }
                    },
                    phone: {
                        message: 'The phone is not valid',
                        validators: {
                            notEmpty: {
                                message: 'phone can not be empty'
                            },
                        }
                    },
                    address: {
                        message: 'The address is not valid',
                        validators: {
                            notEmpty: {
                                message: 'address can not be empty'
                            },
                        }
                    },
                }
            }).on('success.form.bv', function (e) {
            e.preventDefault();
            var $form = $(e.target);
            var bv = $form.data('bootstrapValidator');

            $.post($form.attr('action'), $form.serialize(), function (result) {
                var result = JSON.parse(result);
                console.log(result);
                var type = 1;
                if (result.code != 0) {
                    type = 2;
                }
                layer.msg(result.msg, {icon: type}, function () {

                    if (result.code == 0) {
                    }

                }, "json");
            });
        });
    })
</script>
</html>